@model  IEnumerable<Topic>

@{
    ViewData["Title"] = "Topics";
}
<div class="row">
    <div class="col-9">
        <h1>MyTopics</h1>
    </div>
    <div class="col-3">
            <a class="btn btn-sm btn-outline-success mt-2" asp-action="CreateTopic">Create New</a>
    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Title</th>
            <th>Content</th>
            <th>Düzenlemeler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.ContentText)</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="EditTopic" asp-route-id="@item.TopicId">
                        <i class="bi bi-pencil"></i> Edit
                    </a>
                    <a class="btn btn-sm btn-success" asp-controller="Comment" asp-action="AddComment" asp-route-id="@item.TopicId" class="btn btn-success  pb-2 ms-5"><i class="bi bi-chat-dots"></i> Add Comment</a>
                    <a class="btn btn-sm btn-primary" asp-controller="Comment" asp-action="ListComments" asp-route-id="@item.TopicId">
                        <i class="bi bi-chat-dots-fill"></i> Comments
                    </a>

                    <a class="btn btn-sm btn-danger" asp-action="DeleteTopic" asp-route-id="@item.TopicId">
                        <i class="bi bi-trash-fill"></i> Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
