@model IEnumerable<Comment>
@{
    ViewData["Title"] = "Topic Comments";
    int u = Convert.ToInt32(User.FindFirst(u => u.Type == "UserId").Value);
}


@{
    int commentCount = 0;
    @foreach (var item in Model)
    {
        commentCount++;
    }

    if (commentCount > 0)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-5">
                    
                    <ul class="list-group mt-3">
                        @foreach (var item in Model)
                        {
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <strong class="h5 border-bottom border-2">@item.User.UserName</strong>
                                    @* <span>@item.ToShortDateString()</span> *@
                                </div>
                                <p>@item.CommentText</p>
                                @{
                                    if (item.UserId==u)
                                    {
                                        <a class="btn btn-sm btn-warning" asp-controller="Comment" asp-action="EditComment" asp-route-id="@item.CommentId"><i class="bi bi-pencil"></i> Edit</a>
                                        <a class="btn btn-sm btn-danger" asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@item.CommentId"><i class="bi bi-trash-fill"></i> Delete</a>
                                    }
                                }
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 mt-5">
                    <h2 class="border-bottom border-2 border-primary pb-2">Comments</h2>
                    <ul class="list-group mt-3">
                        <p class="h6">There are no comments on your topic yet..</p>
                    </ul>
                </div>
            </div>
        </div>
    }


}